{% extends "base.html" %}

{% block announce %}
<p>📢 Mise à jour des <a href="https://www.ensibf.club/Pratique/argent/">salaires pour 2023<a></p>
{% endblock %}

{% block analytics %}
<script defer data-domain="ensibf.club" src="https://a.50-nuances-octets.fr/js/script.js"></script>
{% endblock %}
